// Colors
$clr1: #393c41;
$clr2: white;
$clr3: black;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
$bgclr1: rgba(23,26,32,0.8);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 768px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;